//Font-family
$font-family: "Gill Sans", sans-serifs;

// Font-size
$h1: 32px;
$h2: 25px;
$h3: 20px;
$h4: 18px;
$h5: 15px;
$h6: 12px;
$body: 14px;

// Background colors
$green: #2a9f94;
$highRed: #eb5854;
$lowRed: #9e3431;
$highYellow: #eb9c26;
$lowYellow: #9e6c21;

$black: #212227;
$white: #fcfafa;
