//Font-family

//kayak
$ff_kayak_regular: KayakRegular;
$ff_kayak_light: KayakLight;

//pier
$ff_pier_regular: PierRegular;

// Font-size
$h1: 20rem;
$h2: 10rem;
$h3: 6rem;
$h4: 18px;
$h5: 15px;
$h6: 12px;
$body: 14px;

//Main colors
$green: #2a9f94;
$highRed: #eb5854;
$lowRed: #9e3431;
$highYellow: #eb9c26;
$lowYellow: #9e6c21;

$black: #212227;
$white: #fcfafa;
