@import "./variables.scss";


// container
.page-container {
  min-height: 100vh;
  min-width: 100vw;
}
.section-container {
  min-height: 100vh;
  min-width: 100vw;
}
.full-screen-container {
  min-height: 100vh;
  min-width: 100vw;
}

// Flex positions
.flex {
  display: flex;
}
.colunn {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  margin-top: -10;
}
.center {
  align-items: center;
  justify-content: center;
}
.right {
  align-items: center;
  justify-content: flex-end;
}
.left {
  align-items: center;
  justify-content: flex-start;
}
